<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinApp"
        tools:targetApi="31"
        android:name=".Controller.App">
        <activity
            android:name=".Controller.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.example.kotlinapp.Controller.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".Controller.ImageViewZoom"/>

        <activity android:name=".Controller.ResetPasswordAuthenticateActivity"/>
        <activity android:name=".Controller.ForgotPassword"/>
        <activity
            android:name=".Controller.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.KotlinApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>